.App {
  text-align: center;
  background-color: #6283c7;
  height: 100vh;
}

.App-logo {
  pointer-events: none;
}



.App-header {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.forecasts-container {
  justify-content: center;
  display: flex;
  gap: 20px;
  width: 100%;
}

.forecast {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 400px;
  width: 200px;
  background-color: rgba(199, 194, 194, 0.438) ;
}

.forecast-text {
  height: 70px;
}